@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;500;700&family=Teko:wght@500;600&display=swap");

:root {
    --color-white: hsl(0, 0%, 100%);
    --color-platinum: hsl(0, 0%, 85%);
    --color-caribbean-current: hsl(183, 31%, 54%);
    --color-lighter-caribbean-current: hsl(183, 31%, 74%);
    --color-indigo-dye: hsl(204, 42%, 27%);
    --color-jet: hsl(0, 0%, 17%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 300;
    line-height: 1.5;

    background-color: var(--color-white);
    color: var(--color-jet);
}

a {
    text-decoration: none;
    color: var(--color-jet);
}

.nav {
    background-color: var(--color-jet);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem;
}

.brand {
    display: inline-flex;
    align-items: center;
}

.brand--style {
    color: var(--color-caribbean-current);
    font-size: 2.5rem;
    font-family: "Teko";
    font-weight: 700;
    line-height: 1.1;
    text-transform: capitalize;
}

.brand__image-container {
    width: 50px;
    margin-right: 1rem;
}

.brand__image {
    width: 100%;
    vertical-align: middle;
}

.menu {
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.icon__path {
    fill: var(--color-caribbean-current);
    transition: all 0.2s;
}

.nav__list {
    list-style: none;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.6s;
}

.nav__item {
    margin-block: 1.5rem;
}

.nav__link {
    padding: 1rem 0;
    display: block;
    color: var(--color-caribbean-current);
    font-weight: 500;
    font-size: 1.8rem;
    text-transform: capitalize;
    transition: color 0.2s;
}

.nav__link:hover {
    color: var(--color-lighter-caribbean-current);
}

.menu-expanded .nav__list {
    max-height: 100vh;
    opacity: 1;
}

.menu-expanded .icon__path {
    fill: var(--color-lighter-caribbean-current);
}

@media (min-width: 768px) {
    .menu {
        display: none;
    }

    .nav__list {
        width: auto;
        max-height: fit-content;
        opacity: 1;
        display: flex;
        gap: clamp(2rem, 3vw, 6rem);
    }

    .nav__item {
        margin: 0 clamp(0.5rem, 1vw, 1.5rem);
    }

    .nav__link {
        padding: 0;
    }
}
